body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  text-decoration: none;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  align-items: center;
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

ul,
ol {
  list-style-type: none;
}

.site-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  align-items: center;
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.main-navigation {
  align-items: center;
  display: flex;
}
.ul-navigation {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}
.li-navigation1 {
  margin-right: 40px;
}
.li-navigation2 {
  margin-right: 40px;
}
.li-navigation3 {
  margin-right: 0px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo span {
  color: #2e2f42;
}
.navigation {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-decoration: none;
  padding: 24px 0;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
  outline: none;
}

.address-nav {
  font-style: normal;
}
.address-mailtel {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-decoration: none;
}

.address-mailtel:hover,
.address-mailtel:focus {
  color: #404bbf;
  outline: none;
}

.ul-address {
  display: flex;
  gap: 40px;
}

.li-address1 {
  margin-right: 40px;
}
.li-address2 {
  margin-right: 0px;
}

.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}
.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.main-button {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}
.advantage {
  padding: 120px 0;
}
.advantage-main {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.ul-advantage {
  display: flex;
  gap: 24px;
}
.li-advantage {
  width: calc((100% - 72px) / 4);
}

.advantage-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantage-paragraphs {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ul-team {
  display: flex;
  gap: 24px;
}
.li-team {
  margin-right: 24px;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
}
.div-team {
  padding: 32px 0;
}
.team-name {
  text-align: center;
  margin-bottom: 8px;
}
.team-profession {
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.team-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  font-weight: 700;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ul-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  width: calc((100% - 48px) / 3);
}
.div-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-paragraphs {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-content {
  background-color: #2e2f42;
  padding: 100px 0;
}
.container-footer {
  align-items: center;
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
  display: inline-block;
}

.footer-paragraph {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
